<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Boek toevoegen</title>
<link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
	<nav>
		<ul>
			<li
				th:unless="${#authorization.expression('hasRole(''ROLE_USER'')')}"><a
				th:href="@{/bibliotheek/saveBook}">Boek toevoegen</a></li>
			<li><form th:action="@{/logout}" method="post">
					<input type="submit" value="Logout" /> <input type="hidden"
						th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
				</form></li>
		</ul>
	</nav>

	<h1 th:text="#{detail.addBook}"></h1>
	<h3 th:text="${username} + ' is ingelogd'"></h3>
	<form method="post" th:object="${boek}" th:action="@{saveBook}">
		<label th:text="#{detail.title}" for="naam"></label> <input
			th:field="*{naam}" type="text" id="naam" name="naam"><br>
		<span th:if="${#fields.hasErrors('naam')}" th:errors="*{naam}"
			style="color: red;"></span><br /> <label
			th:text="#{detail.isbnNumber}" for="isbn"></label> <input
			th:field="*{isbn}" type="text" id="isbn" name="isbn"><br>
		<span th:if="${#fields.hasErrors('isbn')}" th:errors="*{isbn}"
			style="color: red;"></span><br> <label
			th:text="#{detail.purchasePrice}" for="aankoopprijs"></label> <input
			type="number" id="aankoopprijs" th:field="*{aankoopprijs}"
			name="aankoopprijs" step="0.01"><br> <span
			th:if="${#fields.hasErrors('aankoopprijs')}"
			th:errors="*{aankoopprijs}" style="color: red;"></span><br> <label
			th:text="#{detail.author}" for="auteurs"></label> <select
			id="auteurs" name="auteurs" multiple>
			<option th:text="#{detail.selectAuthor}" value=""></option>
			<th:block th:each="auteur : ${auteurs}">
				<option th:value="${auteur.id}" th:text="${auteur.naam}"></option>
			</th:block>
		</select><br /> <label th:text="#{detail.addAuthor}" for="nieuweAuteur"></label>
		<input type="text" id="nieuweAuteur" name="nieuweAuteur"
			th:value="${nieuweAuteur}"> <br /> <span
			th:if="${#fields.hasErrors('auteurs')}" th:errors="*{auteurs}"
			style="color: red;"></span><br /> <label
			th:text="#{detail.location} + ' 1'" for="locatie1"></label> <input
			type="text" th:placeholder="#{detail.placeCode} + ' 1'"
			id="locatie1_plaatscode1" name="locatie1_plaatscode1"> <input
			th:placeholder="#{detail.placeCode} + ' 2'" type="text"
			id="locatie1_plaatscode2" name="locatie1_plaatscode2"> <input
			th:placeholder="#{detail.placeName}" type="text"
			id="locatie1_plaatsnaam" name="locatie1_plaatsnaam"><br>
		<span th:if="${#fields.hasErrors('locaties')}" th:errors="*{locaties}"
			style="color: red;"></span> <label
			th:text="#{detail.location} + ' 2'" for="locatie2"></label> <input
			type="text" th:placeholder="#{detail.placeCode} + ' 1'"
			id="locatie2_plaatscode1" name="locatie2_plaatscode1"> <input
			th:placeholder="#{detail.placeCode} + ' 2'" type="text"
			id="locatie2_plaatscode2" name="locatie2_plaatscode2"> <input
			th:placeholder="#{detail.placeName}" type="text"
			id="locatie2_plaatsnaam" name="locatie2_plaatsnaam"><br>

		<label th:text="#{detail.location} + ' 3'" for="locatie3"></label> <input
			type="text" th:placeholder="#{detail.placeCode} + ' 1'"
			id="locatie3_plaatscode1" name="locatie3_plaatscode1"> <input
			th:placeholder="#{detail.placeCode} + ' 2'" type="text"
			id="locatie3_plaatscode2" name="locatie3_plaatscode2"> <input
			th:placeholder="#{detail.placeName}" type="text"
			id="locatie3_plaatsnaam" name="locatie3_plaatsnaam"><br>

		<button th:text="#{detail.saveBook}" type="submit">Boek
			opslaan</button>
	</form>

</body>
</html>
